/.DS_Store
csvFiles/.DS_Store
python/.DS_Store
sqlScripts/.DS_Store
V1/csvFiles/.DS_Store
V1/python/.DS_Store
V1/sqlScripts/.DS_Store
V1/.DS_Store
postgresDockerTest/db-data/*
postgresDockerTest/.DS_Store
